<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi! Welcome...</title>
    <!-- link css -->
    <link rel="stylesheet" href="/css/base-customer.css">
    <link rel="stylesheet" href="/css/welcome.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- gg font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>TVT stadium</title>
</head>
<body>
    <!-- img backgr -->
    <div class="wall"></div>
    <!-- nav -->
    <div class="title-container">
        <div class="title-nav">
            <i class="fa-solid fa-bars"></i>
            <div class="nav-bar">
                <a href="/" class="nav-item-link">
                    <div class="nav-items">
                        <i class="fa-solid fa-house"></i> Home
                    </div>
                </a>
                <a href="/list-view-stadiums" class="nav-item-link">
                    <div class="nav-items">
                        <i class="fa-solid fa-list"></i> Stadiums
                    </div>
                </a>
                <% if(name) {%>
                    <a href="/bill/history" class="nav-item-link">
                        <div class="nav-items">
                            <i class="fa-solid fa-file"></i> Ordered
                        </div>
                    </a>
                    <a href="/customer/destroySsCus" class="nav-item-link">
                        <div class="nav-items">
                            <i class="fa-solid fa-right-from-bracket"></i> Log-out
                        </div>
                    </a>
                <% } else {%>
                    <a href="/customer/login" class="nav-item-link">
                        <div class="nav-items">
                            <i class="fa-solid fa-right-to-bracket"></i> Log-in
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
        <div class="title-logo">
            <img src="/images/XztNn3f.png" alt="Logo" width="120%">
        </div>
        <div class="title-action">
            <div class="owner"><i class="fa-solid fa-earth-asia"></i>
                <div class="owner-msg">Owner: Trần Vĩnh Trung</div>
            </div>
        </div>
    </div>
<!-- content -->
<%- include('../pages/' + locals.page) %>
<!-- footer -->
    <div class="footer mg-t-50">
        <div class="footer-logo">
            <img src="/images/XztNn3f-2.png" alt="">
        </div>
        <div class="footer-content">
            <div>CÔNG TY TNHH CUNG CẤP SÂN BÓNG ĐÁ TVT-STADIUM</div>
            <div>ĐỊA CHỈ: XXX LÊ THÁNH TÔN, PHƯỜNG XXX, QUẬN XX, TP HỒ CHÍ MINH</div>
            <div>THÔNG TIN LIÊN HỆ: (+84) 55022404</div>
            <div>EMAIL: TVT_STADIUM.OFFICAL@gmail.com</div>
            <div>QUY ĐỊNH ĐẶT SÂN: THEO DÕI THÔNG TIN TRÊN WEBSITE</div>
            <div>THỜI GIAN MỞ CỬA: 5:00 A.M - 23:59 P.M</div>
            <div>THÔNG TIN CUNG CẤP CHÍNH THỐNG - CHỐNG CHỈ ĐỊNH TRÊN TẤT CẢ WEBSITE KHÁC</div>
            <div>SẢN PHẨM ĐỘC QUYỀN ĐƯỢC ĐĂNG KÝ - COPYRIGHT © 2022 TVT-STADIUM ® ALL RIGHT RESERVED</div>
            <div>NGƯỜI ĐẠI DIỆN: TRẦN VĨNH TRUNG</div>
        </div>
        <div class="social-media">
            <div class="pd-5"><i class="fa-brands fa-facebook"></i></div>
            <div class="pd-5"><i class="fa-brands fa-facebook-messenger"></i></div>
            <div class="pd-5"><i class="fa-brands fa-instagram-square"></i></div>
            <div class="pd-5"><i class="fa-brands fa-twitter"></i></div>
        </div>
    </div>
</body>


</html>