*{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Rowdies', cursive;;
}

body{
    margin: 0;
    padding: 0;
}

/*==================== CUSTOM ======================== */
.btn-custom{
    font-family: 'Rowdies', cursive;
    border: 3px #000000 solid;
    box-shadow: 2px 2px #000000;
}

.link-custom{
    color: #000000;
    text-decoration: none;
}

.btn-custom:hover{
    opacity: 80%;
    cursor: pointer;
}

.link-custom:active,
.btn-custom:active{
    opacity: 50%;
}

.cl-white{
    color: #ffffff;
}

.cl-yl{
    color: #ffd000;
}

.cl-green{
    color: green;
}

.cl-blue{
    color: #005eff;
}

.cl-red{
    color: red;
}

.bg-yl{
    background-color: #f3ce2b;
}

.bg-red{
    background-color: #fd1a1a;
}

.bg-green{
    background-color: green;
}

.bg-grey{
    background-color: #a5a5a5;
}

.bg-white{
    background-color: #ffffff;
}

.input-custom{
    font-family: 'Rowdies', cursive;
    outline: solid 3px #000000;
}

.t-center{
    text-align: center;
}

.t-end{
    text-align: end;
}

.t-start{
    text-align: start;
}

.m-10{
    margin: 10px; 
 }

.m-t-10{
   margin-top: 10px; 
}

.m-bt-10{
    margin-bottom: 10px; 
 }

.m-t-30{
    margin-top: 30px; 
}

.m-bt-30{
    margin-bottom: 30px; 
}

.m-30{
    margin: 30px; 
}

.p-t-10{
    padding-top: 10px; 
}

.p-t-30{
    padding-top: 30px; 
}

.p-10{
    padding: 10px; 
}

.p-30{
    padding: 30px; 
}

.outline-green{
    outline: solid 3px green;
}

.f-1{
    font-size: 1.0rem;
}

.f-1-2{
    font-size: 1.2rem;
}

.f-1-5{
    font-size: 1.5rem;
}

.p-5-10{
    padding: 5px 10px;
}

.err{
    background-color: rgb(255, 65, 65);
    width: 50%;
    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
