.view-task{

}

.btn-view-task{
    margin: 10px;
    padding: 5px 10px;
}

.content-header{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.content-items-area{
    border: solid 3px #000000;
    width: 60%;
    margin: auto;
}

.content-item{
    display: flex;
}

.item{
    padding: 10px;
}


.item-1{
    width: 30%;
}

.item-2{
    width: 35%;
}

.items-bill{
    overflow-y:scroll;
    height: 250px;
}

.tag-link{
    text-decoration: none;
    color: #000000;
}

