.bill{

}

.bill-title{
    text-align: center;
    font-size: 2rem;
}

.bill-info{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem
}

.bill-info-check-table{

}

.td-title,
.td-content{
    padding: 5px;
}

.input-idCus{
    outline: none;
    font-size: 1.2rem;
    font-family: 'Rowdies', cursive;
    border: none;
}

.btn-check-idCus,
.btn-add-items{
    padding: 3px 5px;
    text-align: end;
    font-size: 1rem;
}

.btn-pay{
    padding: 5px 10px;
    text-transform: uppercase;
}

.input-select{
    width: 200px;
    font-size: 1rem;
    padding: 3px 5px;
}

.tb-items-order{
    width: 100%;
    font-size: 1.2rem;
}