.detail-container-header{
    font-size: 1.5rem;
    text-align: start;
}

.detail-content{
    border: solid #000000;
    width: 30%;
    margin: auto;
}

.detail-content-items{
    display: flex;
    font-size: 1.2rem;
    padding: 10px;
    align-items: center;
}

.detail-items-title{
    width: 200px;
}

.btn-detail-area{
    text-align: end;
    padding: 10px;
}

.btn-detail{
    font-size: 1rem;
    width: 50px;
    margin: 20px;
}

/* Modal */

.modal-update{
    width: 30%;
    border: solid 1px rgb(195, 195, 195);
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 35%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: #bcbcbc80 3px 3px 10px;
}

.modal-items{
    display: flex;
}

.modal-update-body{
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
}

.modal-items{
    padding: 10px;
}

.modal-items-title{
    width: 250px;
}

.modal-items-content{
    width: 50%;
}

.btn-update-modal{
    margin: 10px;
    font-size: 1rem;
}