.detail-container-header{
    font-size: 1.5rem;
    text-align: start;
}

.detail-content{
    border: solid #000000;
    width: 30%;
    margin: auto;
}

.detail-content-items{
    display: flex;
    font-size: 1.2rem;
    padding: 10px;
    align-items: center;
}

.detail-items-title{
    width: 200px;
}

.btn-detail-area{
    text-align: end;
    padding: 10px;
}

.btn-detail{
    font-size: 1rem;
    width: 50px;
    margin: 20px;
}