.block-container{
    width: 40%;
    margin: auto;
    font-size: 1.2rem;
    border: solid 3px #000000;
}

.block-container-title{
    display: flex;
    align-items: center;
}

.block-container-body{
    padding: 20px;
}

.body-items{
    display: flex;
    margin: 10px;
}

.body-items-title{
    width: 50%;
}

.block-container-title-img{
    width: 200px;
}


/* Modal */
.modal{
    width: 30%;
    border: solid 1px rgb(195, 195, 195);
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 35%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: #bcbcbc80 3px 3px 10px;
}