<div class="customer-manager-box">
    <div class="customer-manager-box-title cl-blue">customer manager</div>
    <div class="customer-manager-box-content">
        <a href="/customer/listCustomers"><button class="btn-custom btn-customer-manager bg-yl">List customers</button></a>
        <a href="/customer/addCustomers"><button  class="btn-custom btn-customer-manager bg-green cl-white">Add customer</button></a>
        <a href="/bill/listBills"><button  class="btn-custom btn-customer-manager bg-red cl-white">List bills</button></a>
    </div>
</div>