<div class="equipment-manager-box">
    <div class="equipment-manager-box-title cl-blue">Equipment manager</div>
    <div class="equipment-manager-box-content">
        <a href="/listTTB"><button class="btn-custom btn-equipment-manager bg-yl">List equipments</button></a>
        <a href="/addTTB"><button  class="btn-custom btn-equipment-manager bg-green cl-white">Add equipment</button></a>
        <a href="/listTTBBr"><button  class="btn-custom btn-equipment-manager bg-red cl-white">List damaged equipment</button></a>
    </div>
</div>