<div class="product-manager-box">
    <div class="product-manager-box-title cl-blue">Product manager</div>
    <div class="product-manager-box-content">
        <a href="/listProducts"><button class="btn-custom btn-product-manager bg-yl">List products</button></a>
        <a href="/addProduct"><button  class="btn-custom btn-product-manager bg-green cl-white">Add product</button></a>
    </div>
</div>