<div class="profile-manager-box">
    <div class="profile-manager-box-title cl-blue">Profile manager</div>
    <div class="profile-manager-box-content">
        <a href="/profile"><button class="btn-custom btn-profile-manager bg-yl">View profile</button></a>
        <a href="/changePass"><button  class="btn-custom btn-profile-manager bg-green cl-white">Change password</button></a>
    </div>
</div>