<div class="stadium-manager-box">
    <div class="stadium-manager-box-title cl-blue">Stadium manager</div>
    <div class="stadium-manager-box-content">
        <a href="/svd/listSvd"><button class="btn-custom btn-stadium-manager bg-yl">List stadiums</button></a>
        <a href="/svd/addSvd"><button  class="btn-custom btn-stadium-manager bg-green cl-white">Add stadium</button></a>
    </div>
</div>