<div class="staff-manager-box">
    <div class="staff-manager-box-title cl-blue">Staff manager</div>
    <div class="staff-manager-box-content">
        <a href="/listStaffs"><button class="btn-custom btn-staff-manager bg-yl">List staffs</button></a>
        <a href="/addStaff"><button  class="btn-custom btn-staff-manager bg-green cl-white">Add staff</button></a>
    </div>
</div>