<div class="statistic-manager-box">
    <div class="statistic-manager-box-title cl-blue">Statistic manager</div>
    <div class="statistic-manager-box-content">
        <a href="/statistic/fee"><button class="btn-custom btn-statistic-manager bg-yl">Costs</button></a>
        <a href="/statistic/profit"><button  class="btn-custom btn-statistic-manager bg-green cl-white">Revenues</button></a>
    </div>
</div>