<div class="view-info-manager-box">
    <div class="view-info-manager-box-title cl-blue">view-info manager</div>
    <div class="view-info-manager-box-content">
        <a href="/listSvd"><button class="btn-custom btn-view-info-manager bg-yl">List stadiums</button></a>
        <a href="/listProducts"><button  class="btn-custom btn-view-info-manager bg-green cl-white">List products</button></a>
    </div>
</div>