<div class="WH-manager-box">
    <div class="WH-manager-box-title cl-blue">Warehouse manager</div>
    <div class="WH-manager-box-content">
        <a href="/warehouse/listWH"><button class="btn-custom btn-WH-manager bg-yl">List inventory</button></a>
        <a href="/warehouse/addProWH"><button  class="btn-custom btn-WH-manager bg-green cl-white">Add product inventory</button></a>
    </div>
</div>