<link rel="stylesheet" href="/css/addProWH.css">
<h2 class="text-center" style="padding: 10px;" id="head">Input products warehouse</h2>

<div class="block-add f-1-2">
    <div class="block-add-item">
        <div class="block-add-item-title">Name</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" placeholder="Enter product name" id="name" name="name" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Type</div>
        <div class="block-add-item-content">
            <select class="input-custom f-1-2" name="type" id="type">
                <option value="0">Drink</option>
                <option value="1">Food</option>
                <option value="2">Item</option>
            </select>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Quantity</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" placeholder="Enter quantity" type="number" id="qty" name="qty" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Price input</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" placeholder="Enter price input" id="priceIn" name="priceIn" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Price sale</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" id="price" placeholder="Enter price sale" name="price" required>
        </div>
    </div>

    <!-- button -->
    <div class="t-center">
        <button type="button" id="btn" class="btn-custom f-1-2 bg-green cl-white">
            <i class="fa-solid fa-plus"></i>
        </button>
        <div id="mess" class="success"></div>
        <div id="err" class="err"></div>
    </div>
</div>

<script>
    var btn = document.getElementById('btn')

    btn.addEventListener('click', () =>{
        document.getElementById('err').innerHTML = ''
        document.getElementById('mess').innerHTML = ''
        
        var idProWH = String(Math.floor(Math.random() * (99999999 - 10000000 + 1)))
        var name = document.getElementById('name').value
        var type = document.getElementById('type').value
        var priceIn = document.getElementById('priceIn').value
        var price = document.getElementById('price').value
        var qty = document.getElementById('qty').value

        if(idProWH && name && priceIn && type && qty && price){
            fetch('/api/warehouse/addWh', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    idProWH : idProWH,
                    name : name,
                    type : type,
                    qty: qty,
                    priceIn: priceIn,
                    price: price,
                    token:"<%= token %>"                            
                })
            })
            .then(req => req.json())
            .then(json => {
                if(json.code === 0){
                    document.getElementById('name').value = ''
                    document.getElementById('qty').value = ''
                    document.getElementById('price').value = ''
                    document.getElementById('priceIn').value = ''
                    document.getElementById('type').value = 0
                    document.getElementById('mess').innerHTML = 'add '+idProWH+' succeed'
                }
                else
                    document.getElementById('err').innerHTML = "please check information again"
            })
            .catch(e => console.log(e))
        }
        else
            document.getElementById('err').innerHTML = "please check information again"
    })
</script>