<link rel="stylesheet" href="/css/addStaff.css">
<h2 class="text-center" style="padding: 10px;" id="head">Add staff</h2>

<div class="block-add f-1-2">
    <div class="block-add-item">
        <div class="block-add-item-title">Name</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" placeholder="Enter staff name" type="text" id="name" name="name" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Gender</div>
        <div class="block-add-item-content">
            <select class="input-custom f-1-2" name="gender" id="gender">
                <option value="0">Male</option>
                <option value="1">Femail</option>
            </select>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Age</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" placeholder="Enter age" id="age" name="age" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Salary</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" placeholder="Enter salary" id="salary" name="salary" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Shift</div>
        <div class="block-add-item-content">
            <select class="input-custom f-1-2" name="shift" id="shift">
                <option value="Ca1">Ca1</option>
                <option value="Ca2">Ca2</option>
                <option value="Ca3">Ca3</option>
                <option value="Ca4">Ca4</option>
            </select>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Position</div>
        <div class="block-add-item-content">
            <select class="input-custom f-1-2" name="position" id="position">
                <option value="0">Manager</option>
                <option value="1">Saler</option>
                <option value="2">Employee</option>
            </select>
        </div>
    </div>
    <!-- button -->
    <div class="m-t-10 t-center">
        <button type="button" id="btn" class="btn-custom f-1-2 bg-green cl-white">
            <i class="fa-solid fa-plus"></i>
        </button>
        <div id="mess" class="success"></div>
        <div id="err" class="err"></div>
    </div>
</div>

<script src="/js/addStaff.js"></script>