<link rel="stylesheet" href="/css/addSvd.css">
<h2 class="text-center" style="padding: 10px;" id="head">Add stadium</h2>

<div class="block-add f-1-2">
    <div class="block-add-item">
        <div class="block-add-item-title">Name</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" id="name" placeholder="Enter stadium name" name="name" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Status</div>
        <div class="block-add-item-content">
            <select class="input-custom f-1-2" name="status" id="status">
                <option value="0">empty</option>
                <option value="1">ordered</option>
            </select>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Capacity</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" placeholder="Enter capacity" id="capacity" name="capacity" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Type</div>
        <div class="block-add-item-content">
            <select class="input-custom f-1-2" name="type" id="type">
                <option value="0">normal</option>
                <option value="1">VIP</option>
            </select>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Image</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" placeholder="Enter image" id="image" name="image" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Image detail 1</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" placeholder="Enter image" id="image_detail_1" name="image" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Image detail 2</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" placeholder="Enter image" id="image_detail_2" name="image" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Price</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" placeholder="Enter price" id="price" name="price" required>
        </div>
    </div>

    <!-- button -->
    <div class="t-center">
        <button type="button" id="btn" class="btn-custom f-1-2 bg-green cl-white">
            <i class="fa-solid fa-plus"></i>
        </button>
        <div id="mess" class="success"></div>
        <div id="err" class="err"></div>
    </div>
</div>

<script>
    let btn = document.getElementById('btn')

    btn.addEventListener('click', () =>{
        document.getElementById('mess').innerHTML = ""
        document.getElementById('err').innerHTML = ""

        let idSvd = String(Math.floor(Math.random() * (99999999 - 10000000 + 1)))
        let name = document.getElementById('name').value
        let status = document.getElementById('status').value
        let type = document.getElementById('type').value
        let capacity = document.getElementById('capacity').value
        let image = document.getElementById('image').value
        let image_detail_1 = document.getElementById('image_detail_1').value
        let image_detail_2 = document.getElementById('image_detail_2').value
        let price = document.getElementById('price').value

        if(idSvd && name && type && capacity && name && type && image){
            fetch('/api/svd/addSvd', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    idSvd : idSvd,
                    name : name,
                    type : type,
                    capacity : capacity,
                    status: status,
                    image: image,
                    image_detail_1: image_detail_1,
                    image_detail_2: image_detail_2,
                    price: price,
                    token:"<%= token %>"                            
                })
            })
            .then(req => req.json())
            .then(json => {
                if(json.code === 0){
                    document.getElementById('name').value = ''
                    document.getElementById('status').value = 0
                    document.getElementById('type').value = 0
                    document.getElementById('capacity').value = ''
                    document.getElementById('image').value = ''
                    document.getElementById('image_detail_1').value = ''
                    document.getElementById('image_detail_2').value = ''
                    document.getElementById('price').value = ''
                    

                    document.getElementById('mess').innerHTML = 'add '+ json.data.idSvd + " succeed"
                }  
                else
                    document.getElementById('err').innerHTML = 'please check information again'
            })
            .catch(e => console.log(e))
        }
        else
            document.getElementById('err').innerHTML = 'please check information again'
    })
</script>