<link rel="stylesheet" href="/css/addSvd.css">
<h2 class="text-center" style="padding: 10px;" id="head">Add stadium</h2>

<div class="block-add f-1-2">
    <div class="block-add-item">
        <div class="block-add-item-title">Name</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" id="name" placeholder="Enter stadium name" name="name" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Status</div>
        <div class="block-add-item-content">
            <select class="input-custom f-1-2" name="status" id="status">
                <option value="0">empty</option>
                <option value="1">ordered</option>
            </select>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Capacity</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" placeholder="Enter capacity" id="capacity" name="capacity" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Type</div>
        <div class="block-add-item-content">
            <select class="input-custom f-1-2" name="type" id="type">
                <option value="0">normal</option>
                <option value="1">VIP</option>
            </select>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Image</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" placeholder="Enter image" id="image" name="image" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Image detail 1</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" placeholder="Enter image" id="image_detail_1" name="image" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Image detail 2</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" placeholder="Enter image" id="image_detail_2" name="image" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Price</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" placeholder="Enter price" id="price" name="price" required>
        </div>
    </div>

    <!-- button -->
    <div class="t-center">
        <button type="button" id="btn" class="btn-custom f-1-2 bg-green cl-white">
            <i class="fa-solid fa-plus"></i>
        </button>
        <div id="mess" class="success"></div>
        <div id="err" class="err"></div>
    </div>
</div>

<script src="/js/addSvd.js"></script>