<link rel="stylesheet" href="/css/addTTB.css">
<h2 class="text-center" style="padding: 10px;" id="head">Add equipment</h2>

<div class="block-add f-1-2">
    <div class="block-add-item">
        <div class="block-add-item-title">Name</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="text" id="name" name="name" placeholder="Enter equipment name" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Quantity</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" id="qty" name="qty" placeholder="Enter quantity" required>
        </div>
    </div>
    <div class="block-add-item">
        <div class="block-add-item-title">Price input</div>
        <div class="block-add-item-content">
            <input class="input-custom f-1-2" type="number" id="priceIn" placeholder="Enter price" name="priceIn" required>
        </div>
    </div>

    <!-- button -->
    <div class="t-center">
        <button type="button" id="btn" class="btn-custom f-1-2 bg-green cl-white">
            <i class="fa-solid fa-plus"></i>
        </button>
        <div id="mess" class="success"></div>
        <div id="err" class="err"></div>
    </div>
</div>

<script>
    var btn = document.getElementById('btn')

    btn.addEventListener('click', () =>{
        document.getElementById('err').innerHTML = ''
        document.getElementById('mess').innerHTML = ''
        
        var idTTB = String(Math.floor(Math.random() * (99999999 - 10000000 + 1)))
        var name = document.getElementById('name').value
        var priceIn = document.getElementById('priceIn').value
        var qty = document.getElementById('qty').value

        if(idTTB && name && priceIn && qty){
            fetch('/addTTB', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    idTTB : idTTB,
                    name : name,
                    qty: qty,
                    priceIn: priceIn,
                    token:"<%= token %>"                            
                })
            })
            .then(req => req.json())
            .then(json => {
                if(json.code === 0){
                    document.getElementById('name').value = ''
                    document.getElementById('qty').value = ''
                    document.getElementById('priceIn').value = ''
                    document.getElementById('mess').innerHTML = 'add '+idTTB+' succeed'
                }
                else
                    document.getElementById('err').innerHTML = "please check information again"
            })
            .catch(e => console.log(e))
        }
        else
            document.getElementById('err').innerHTML = "please check information again"
    })
</script>