<link rel="stylesheet" href="/css/billDetail.css">
<h2 class="text-center" style="padding: 10px;" id="head"></h2>

<div class="block-detail f-1-2">
    <div class="block-detail-header t-center">
        <img id="img-logo" src="/images/logo-bill.png" alt="" width="100px" height="100px">
    </div>
    <div class="block-detail-body">
        <div class="body-item p-10">
            <div class="body-item-title">ID</div>
            <div class="body-item-content" id="idBill"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">ID customer</div>
            <div class="body-item-content" id="idCus"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">ID staff</div>
            <div class="body-item-content" id="idStaff"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Stadiums</div>
            <div class="body-item-content">
                <div class="list-item-tag">
                    <div class="list-item">
                        <div class="list-item-stt">STT</div>
                        <div class="list-item-item-1">ID stadium</div>
                        <div class="list-item-item-2">Price</div>
                    </div>
                </div>
                <div class="list-item-content" id="list-stadium"></div>
            </div>
        </div>

        <div class="body-item p-10">
            <div class="body-item-title">Products</div>
            <div class="body-item-content">
                <div class="list-item-tag">
                    <div class="list-item">
                        <div class="list-item-stt">STT</div>
                        <div class="list-item-item-1">Tag</div>
                        <div class="list-item-item-2">Quantity</div>
                        <div class="list-item-item-3">Price</div>
                    </div>
                </div>
                <div class="list-item-content" id="list-product"></div>
            </div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Date use stadium</div>
            <div class="body-item-content" id="dateUse"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Date order</div>
            <div class="body-item-content" id="dateOrder"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Total</div>
            <div class="body-item-content cl-red" id="sum"></div>
        </div>
    </div>
    <div class="t-center">
        <a href="/bill/listBills">
            <button class="btn-custom f-1-2 m-10">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </a>
    </div>
</div>

<script>
    let url = new URL(window.location)
    let idBill = url.searchParams.get('idBill')
    
    fetch('/api/bill/getBills/'+idBill+'/?token=<%= token %>', {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })
    .then(req => req.json())
    .then(json => {
        if(json.code === 0){
            let data = json.data[0]
            let idBill = document.getElementById('idBill')
            let idCus = document.getElementById('idCus')
            let idStaff = document.getElementById('idStaff')
            let dateOrder = document.getElementById('dateOrder')
            let sum = document.getElementById('sum')
            let dateUse = document.getElementById('dateUse')
            let listSvd = document.getElementById('listSvd')
            let listPro = document.getElementById('listPro')

            idBill.innerHTML = data.idBill
            idCus.innerHTML = data.idCus
            idStaff.innerHTML = data.idStaff
            dateOrder.innerHTML = data.dateOrder
            sum.innerHTML = data.sum.toLocaleString('vi', {style : 'currency', currency : 'VND'})
            dateUse.innerHTML = data.dateUse

            if(data.listSvd.length){
                let list_stadium = document.getElementById('list-stadium')
                let temp = ''
                data.listSvd.forEach((val, index)=> {
                    temp += `<div class="list-item">
                                <div class="list-item-stt">${index + 1}</div>
                                <div class="list-item-item-1">${val.idSvd}</div>
                                <div class="list-item-item-2">${parseInt(val.price).toLocaleString('vi', {style : 'currency', currency : 'VND'})}</div>
                            </div>`

                    
                })
                list_stadium.innerHTML = temp   
            }


            if(data.listProducts.length){
                let temp = ''
                let list_product = document.getElementById('list-product')

                data.listProducts.forEach((val, index)=> {
                    temp += `<div class="list-item">
                                <div class="list-item-stt">${index + 1}</div>
                                <div class="list-item-item-1">${val.name}</div>
                                <div class="list-item-item-2">${val.qty}</div>
                                <div class="list-item-item-3">${parseInt(val.price * val.qty).toLocaleString('vi', {style : 'currency', currency : 'VND'})}</div>
                            </div>`
                    

                })

                list_product.innerHTML = temp
            }

            




            document.getElementById('head').innerHTML = data.idBill
        }  
    })
    .catch(e => console.log(e))

</script>