<link rel="stylesheet" href="/css/billDetail.css">
<h2 class="text-center" style="padding: 10px;" id="head"></h2>

<div class="block-detail f-1-2">
    <div class="block-detail-header t-center">
        <img id="img-logo" src="/images/logo-bill.png" alt="" width="100px" height="100px">
    </div>
    <div class="block-detail-body">
        <div class="body-item p-10">
            <div class="body-item-title">ID</div>
            <div class="body-item-content" id="idBill"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">ID customer</div>
            <div class="body-item-content" id="idCus"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">ID staff</div>
            <div class="body-item-content" id="idStaff"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Stadiums</div>
            <div class="body-item-content">
                <div class="list-item-tag">
                    <div class="list-item">
                        <div class="list-item-stt">STT</div>
                        <div class="list-item-item-1">ID stadium</div>
                        <div class="list-item-item-2">Price</div>
                    </div>
                </div>
                <div class="list-item-content" id="list-stadium"></div>
            </div>
        </div>

        <div class="body-item p-10">
            <div class="body-item-title">Products</div>
            <div class="body-item-content">
                <div class="list-item-tag">
                    <div class="list-item">
                        <div class="list-item-stt">STT</div>
                        <div class="list-item-item-1">Tag</div>
                        <div class="list-item-item-2">Quantity</div>
                        <div class="list-item-item-3">Price</div>
                    </div>
                </div>
                <div class="list-item-content" id="list-product"></div>
            </div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Date use stadium</div>
            <div class="body-item-content" id="dateUse"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Date order</div>
            <div class="body-item-content" id="dateOrder"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Total</div>
            <div class="body-item-content cl-red" id="sum"></div>
        </div>
    </div>
    <div class="t-center">
        <a href="/bill/listBills">
            <button class="btn-custom f-1-2 m-10">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </a>
    </div>
</div>

<script src="/js/billDetail.js"></script>