<h2 class="text-center">Change Password</h2>
<table style="margin: auto">
    <tr>
        <td class="f-1-2">New password</td>
        <td class="p-10"><input class="input-custom f-1-2" placeholder="Enter new password" type="password" id="password" name="password" required></td>
    </tr>
    <tr>
        <td class="f-1-2">Confirm password</td>
        <td class="p-10"><input class="input-custom f-1-2" placeholder="Enter confirm password" type="password" id="confirm-password" name="confirm-password" required></td>
    </tr>
</table>
<div class="t-center">
    <button class="btn-custom f-1-2 bg-green cl-white m-10" type="button" id="btn"><i class="fa-solid fa-repeat"></i></button>
    <div class="err" id="err"></div>
</div>

<script>
    let btn = document.getElementById('btn')
    
    btn.addEventListener('click', ()=>{
        document.getElementById("err").innerHTML = ''

        let password = document.getElementById('password').value
        let confirm_password = document.getElementById('confirm-password').value
        if(password){
            if(confirm_password == password){
                fetch('/changePass', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body:JSON.stringify({
                        password : password,
                        token:"<%= token %>"                    
                    })
                })
                .then(req => req.json())
                .then(json => {
                    if(json.code === 0){
                        alert('Change password success, please login again!!')
                        window.location.href = '/staff/destroySS'
                    }
                    else
                        document.getElementById("err").innerHTML = 'Change password fail!'
                })
                .catch(e => console.log(e))
            }
            else{
                document.getElementById('confirm-password').value = ''
                document.getElementById("err").innerHTML = 'Confirm again'
            }
        }
        else
            document.getElementById("err").innerHTML = 'Please enter new password'
    })
</script>