<h2 class="text-center">Change Password</h2>
<table style="margin: auto">
    <tr>
        <td class="f-1-2">New password</td>
        <td class="p-10"><input class="input-custom f-1-2" placeholder="Enter new password" type="password" id="password" name="password" required></td>
    </tr>
    <tr>
        <td class="f-1-2">Confirm password</td>
        <td class="p-10"><input class="input-custom f-1-2" placeholder="Enter confirm password" type="password" id="confirm-password" name="confirm-password" required></td>
    </tr>
</table>
<div class="t-center">
    <button class="btn-custom f-1-2 bg-green cl-white m-10" type="button" id="btn"><i class="fa-solid fa-repeat"></i></button>
    <div class="err" id="err"></div>
</div>

<script src="/js/changePass.js"></script>