<link rel="stylesheet" href="/css/CusDetail.css">
<h2 class="text-center" style="padding: 10px;" id="head"></h2>

<div class="block-detail f-1-2">
    <div class="block-detail-header t-center">
        <img id="img-logo" src="/images/cus-m.png" alt="" width="100px" height="100px">
    </div>
    <div class="block-detail-body">
        <div class="body-item p-10">
            <div class="body-item-title">ID</div>
            <div class="body-item-content" id="idCus"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Name</div>
            <div class="body-item-content" id="name"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Gender</div>
            <div class="body-item-content" id="gender"></div>
        </div>

        <div class="body-item p-10">
            <div class="body-item-title">CMND/CCCD</div>
            <div class="body-item-content" id="CMND"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Tel</div>
            <div class="body-item-content" id="tel"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Email</div>
            <div class="body-item-content" id="email"></div>
        </div>
    </div>
    <div class="t-center">
        <a href="/customer/listCustomers">
            <button class="btn-custom f-1-2 m-10">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </a>
    </div>
</div>

<div class="text-center">
    <a href="/listCustomers"><button class="btn btn-light">Back</button></a>
    <!-- <button id="btn" type="button" class="btn btn-danger">Reset password</button> -->
    <!-- <div style="color: chartreuse;" id="mess"></div> -->
</div>
<script>
    var url = new URL(window.location)
    var idCus = url.searchParams.get('idCus')
    
    fetch('/api/staff/getCus/'+idCus+"?token=<%= token %>", {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })
    .then(req => req.json())
    .then(json => {
        if(json.code === 0){
            data = json.data[0]
            var idCus = document.getElementById('idCus')
            var name = document.getElementById('name')
            var CMND = document.getElementById('CMND')
            var gender = document.getElementById('gender')
            var email = document.getElementById('email')
            var tel = document.getElementById('tel')

            idCus.innerHTML = data.idCus
            name.innerHTML = data.name
            tel.innerHTML = data.phone
            email.innerHTML = data.email
            CMND.innerHTML = data.CMND

            if(data.gender === 0){
                gender.innerHTML = "Male"
                document.getElementById('img-logo').setAttribute('src', '/images/cus-m.png')
            }
                
            else{
                gender.innerHTML = "Femail"
                document.getElementById('img-logo').setAttribute('src', '/images/cus-fm.png')

            }
                

            document.getElementById('head').innerHTML = data.idCus
        }  
    })
    .catch(e => console.log(e))

</script>