<!-- nav -->
<nav class="navbar navbar-expand-md bg-custom navbar-light"
    style="background-color: rgba(2, 2, 2, 0.356); margin-top: 10px;">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
                    Stadiums
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/listSvd">List stadiums</a>
                    <a class="dropdown-item" href="/addSvd">Add stadium</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
                    Products
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/listProducts">List products</a>
                    <a class="dropdown-item" href="/addProduct">add product</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
                    Warehouse
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/listWH">List products warehouse</a>
                    <a class="dropdown-item" href="/addProWH">Input product</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
                    Equipment
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/listTTB">List equipment</a>
                    <a class="dropdown-item" href="addTTB">Add equipment</a>
                    <a class="dropdown-item" href="/listTTBBr">List damaged equipment</a>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
                    Profile
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile">View profile</a>
                    <a class="dropdown-item" href="/changePass">Change password</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <div class="text-right text-white" id="header-logout">Hello, <%= name %>
                        <a href="/destroySs">
                            <button class="btn btn-light" type="button">
                                <i class="fa fa-power-off" aria-hidden="true"></i>
                            </button>
                        </a>
                </div>
            </li>
        </ul>
    </div>
</nav>