<link rel="stylesheet" href="/css/fee.css">
<div class="container">
    <div class="t-start f-1-5">Cost</div>
    <div class="view-task t-center">
        <button id="btn-fee-salary" class="btn-custom f-1 btn-view-task bg-yl">Salary</button>
        <button id="btn-fee-product" class="btn-custom f-1 btn-view-task bg-green cl-white">Products</button>
        <button id="btn-fee-equipment" class="btn-custom f-1 btn-view-task">Equipment</button>
        <button id="btn-fee-equipment-dmg" class="btn-custom f-1 btn-view-task bg-red cl-white">Equipment damaged</button>
    </div>

    <div class="content" id="block-salary">
        <div class="content-items-area f-1-2">
            <div class="content-header t-center m-10 cl-yl">Salary</div>
            <div class="content-item">
                <div class="item item-1"><b>ID</b></div>
                <div class="item item-2"><b>Name</b></div>
                <div class="item item-3"><b>Position</b></div>
                <div class="item item-4"><b>Shift</b></div>
                <div class="item item-5"><b>Salary</b></div>
            </div>            
            <div id="content-salary" class="items-staff"></div>
            <div class="t-end p-10">Total: <span class="cl-red" id="total-salary">3.000.000 vnd</span></div>
        </div>
    </div>

    <div class="content" style="display: none;" id="block-product">
        <div class="content-items-area f-1-2">
            <div class="content-header t-center m-10 cl-green">Product</div>
            <div class="content-item">
                <div class="item item-1"><b>ID</b></div>
                <div class="item item-2"><b>Tag</b></div>
                <div class="item item-3"><b>Quantity</b></div>
                <div class="item item-4"><b>Date</b></div>
                <div class="item item-5"><b>Total</b></div>
            </div>            
            <div id="content-product" class="items-staff"></div>
            <div class="t-end p-10">Total: <span class="cl-red" id="total-product">72.000.000 vnd</span></div>
        </div>
    </div>

    <div class="content" style="display: none;" id="block-equipment">
        <div class="content-items-area f-1-2">
            <div class="content-header t-center m-10">equipment</div>
            <div class="content-item">
                <div class="item item-1"><b>ID</b></div>
                <div class="item item-2"><b>Tag</b></div>
                <div class="item item-3"><b>Quantity</b></div>
                <div class="item item-4"><b>Date</b></div>
                <div class="item item-5"><b>Total</b></div>
            </div>            
            <div id="content-equipment" class="items-staff"></div>
            <div class="t-end p-10">Total: <span class="cl-red" id="total-equiment">72.000.000 vnd</span></div>
        </div>
    </div>

    <div class="content" style="display: none;" id="block-equipment-dmg">
        <div class="content-items-area f-1-2">
            <div class="content-header t-center m-10 cl-red">equipment damaged</div>
            <div class="content-item">
                <div class="item item-1"><b>ID</b></div>
                <div class="item item-2"><b>Tag</b></div>
                <div class="item item-3"><b>Quantity</b></div>
                <div class="item item-4"><b>Date</b></div>
                <div class="item item-5"><b>Total</b></div>
            </div>            
            <div id="content-equipment-dmg" class="items-staff"></div>
            <div class="t-end p-10">Total: <span class="cl-red" id="total-equiment-dmg">72.000.000 vnd</span></div>
        </div>
    </div>
    <div class="t-end">
        <a href="/manager/statistic-manager">
            <button class="btn-custom f-1 btn-view-task">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </a>
    </div>
</div>

<script src="/js/fee.js"></script>