<!-- <div class="header-page">
    <div class="header-name">
        SVD 24H
        <div class="header-board">
            <div class="header-board-element">Profile</div>
            <div class="header-board-element">Log out</div>
        </div>
    </div>
</div> -->