<link rel="stylesheet" href="/css/listCustomer.css">
<h2 class="text-center" style="padding: 10px;">List customers</h2>
<!-- search -->
<div class="search-area t-center m-10">
    <input type="text" id="search" class="input-custom f-1" placeholder="Enter name">
    <button class="btn-custom bg-green cl-white f-1">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>

<div class="content m-10">
    <div class="content-items-area f-1-2">
        <div class="content-item">
            <div class="item item-1"><b>ID</b></div>
            <div class="item item-2"><b>Name</b></div>
            <div class="item item-3"><b>Contact</b></div>
        </div>
        <hr>            
        <div id="content-customer" class="items-customer"></div>
    </div>
</div>
<script src="/js/listCustomers.js"></script>