<link rel="stylesheet" href="/css/listSvd.css">
<h2 class="text-center" style="padding: 10px;">List stadiums</h2>
<!-- search -->
<div class="search-area t-center m-10">
    <input type="text" id="search" class="input-custom f-1" placeholder="Enter name">
    <button class="btn-custom bg-green cl-white f-1">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>

<div class="content m-10">
    <div class="content-items-area f-1-2">
        <div class="content-item">
            <div class="item item-1"><b>ID</b></div>
            <div class="item item-2"><b>Name</b></div>
            <div class="item item-3"><b>Capacity</b></div>
            <div class="item item-4"><b>Price</b></div>
            <div class="item item-5"><b>Status</b></div>
        </div>
        <hr>            
        <div id="content-stadium" class="items-stadium"></div>
    </div>
</div>

<script>
    let list_stadium = []


    fetch('/getSvd?token=<%= token %>', {
            method: "GET",
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(req => req.json())
        .then(json => {
            let data = json.data
            let content_stadium = document.getElementById('content-stadium')
            let tmp = ''
            data.forEach((val, index) => {
                list_stadium.push(val)
                tmp += `<a href="/svd/svdDetail?idSvd=${val.idSvd}" class="tag-link">
                                <div class="content-item ${index % 2 == 0 ? 'bg-grey cl-white' : ''}">
                                    <div class="item item-1">${val.idSvd}</div>
                                    <div class="item item-2">${val.name}</div>
                                    <div class="item item-3">${val.capacity}</div>
                                    <div class="item item-4">${val.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) + "/h"}</div>
                                    <div class="item item-5 cl-green">${val.status == 0 ? '' : '<i class="fa-solid fa-check"></i>'}</div>
                                </div>
                            </a>`
                content_stadium.innerHTML = tmp
            });

        })
        .catch(e => console.log(e))


        let search = document.getElementById('search')
        search.addEventListener('keyup', (e) => {
            let words = e.target.value
            let count_cl = 0
            let temp = ''
            let content_stadium = document.getElementById('content-stadium')
            list_stadium.forEach(val => {
                if(val.name.toLowerCase().indexOf(words.toLowerCase()) != -1){
                    temp += `<a href="/svd/svdDetail?idSvd=${val.idSvd}" class="tag-link">
                                <div class="content-item ${count_cl % 2 == 0 ? 'bg-grey cl-white' : ''}">
                                    <div class="item item-1">${val.idSvd}</div>
                                    <div class="item item-2">${val.name}</div>
                                    <div class="item item-3">${val.capacity}</div>
                                    <div class="item item-4">${val.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}) + "/h"}</div>
                                    <div class="item item-5 cl-green">${val.status == 0 ? '' : '<i class="fa-solid fa-check"></i>'}</div>
                                </div>
                            </a>`
                    count_cl ++
                }

            })
            content_stadium.innerHTML = temp
        })
</script>