<!-- use common css file with listTTB -->
<link rel="stylesheet" href="/css/listTTB.css">

<h2 class="text-center" style="padding: 10px;">List damaged equipment</h2>
<!-- search -->
<div class="search-area t-center m-10">
    <input type="text" id="search" class="input-custom f-1" placeholder="Enter name">
    <button class="btn-custom bg-green cl-white f-1">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>

<div class="content m-10">
    <div class="content-items-area f-1-2">
        <div class="content-item">
            <div class="item item-1"><b>ID</b></div>
            <div class="item item-2"><b>Tag</b></div>
            <div class="item item-3"><b>Quantity</b></div>
            <div class="item item-4"><b>Date</b></div>
        </div>
        <hr>            
        <div id="content-equipmentBr" class="items-equipmentBr"></div>
    </div>
</div>

<script>
    let list_equipmentBr = []

    fetch('/getTTB_Broken?token=<%= token %>', {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(req => req.json())
        .then(json => {
            if(json.code === 0){
                let data = json.data
                let content_equipmentBr = document.getElementById('content-equipmentBr')
                let temp = ''
                console.log(data)
                data.forEach((val, index) => {
                    list_equipmentBr.push(val)
                    temp += `<a href="/equipment//equipmentDamageDetail?idTTB_Br=${val.idTTB_Br}" class="tag-link">
                                <div class="content-item ${index % 2 == 0 ? 'bg-grey cl-white' : ''}">
                                    <div class="item item-1">${val.idTTB}</div>
                                    <div class="item item-2">${val.name}</div>
                                    <div class="item item-3">${val.qty}</div>
                                    <div class="item item-4">${val.dateIn}</div>
                                </div>
                            </a>`
                })
                content_equipmentBr.innerHTML = temp
            }
        })
        .catch(e => console.log(e))

        let search = document.getElementById('search')
        search.addEventListener('keyup', (e) => {
            let words = e.target.value
            let count_cl = 0
            let tmp = ''
            let content_equipmentBr = document.getElementById('content-equipmentBr')
            list_equipmentBr.forEach(val => {
                if(val.name.toLowerCase().indexOf(words.toLowerCase()) != -1){
                    tmp += `<a href="/equipment//equipmentDamageDetail?idTTB_Br=${val.idTTB_Br}" class="tag-link">
                                <div class="content-item ${count_cl % 2 == 0 ? 'bg-grey cl-white' : ''}">
                                    <div class="item item-1">${val.idTTB}</div>
                                    <div class="item item-2">${val.name}</div>
                                    <div class="item item-3">${val.qty}</div>
                                    <div class="item item-4">${val.dateIn}</div>
                                </div>
                            </a>`
                    count_cl ++
                }

            })
            content_equipmentBr.innerHTML = tmp
        })
</script>