<h2 class="text-center" style="padding: 10px;">List products warehouse</h2>
<!-- search -->
<form class="form-inline" style="padding: 10px;">
    <input class="form-control mr-sm-2" type="text" id="idProWHSearch" placeholder="Enter ID product" aria-label="Search">
    <button id="btn" class="btn btn-outline-success my-2 my-sm-0" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>

<!-- table -->
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Date input</th>
        </tr>
    </thead>
    <tbody id="tb">

    </tbody>
</table>

<script>
    var btn = document.getElementById('btn')
    btn.addEventListener('click', () => {
        var idProWH = document.getElementById('idProWHSearch').value
        fetch('/getProWH/'+idProWH+"?token=<%= token %>", {
            method: "GET",
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(req => req.json())
        .then(json => {
            data = json.data
            var tb = document.getElementById('tb')
            tb.innerHTML = ''
            if(json.code === 0){          
                data.forEach(val => {
                    var tr = document.createElement('tr')

                    var td1 = document.createElement('td')
                    var td2 = document.createElement('td')
                    var td3 = document.createElement('td')
                    var td4 = document.createElement('td')

                    var a1 = document.createElement('a')
                    var a2 = document.createElement('a')
                    var a3 = document.createElement('a')
                    var a4 = document.createElement('a')

                    a1.setAttribute('href', '/WHDetail?idProWH=' + val.idProWH)
                    a2.setAttribute('href', '/WHDetail?idProWH=' + val.idProWH)
                    a3.setAttribute('href', '/WHDetail?idProWH=' + val.idProWH)
                    a4.setAttribute('href', '/WHDetail?idProWH=' + val.idProWH)

                    a1.innerHTML = val.idProWH
                    a2.innerHTML = val.name
                    a3.innerHTML = val.qty
                    a4.innerHTML = val.dateIn

                    td1.appendChild(a1)
                    td2.appendChild(a2)
                    td3.appendChild(a3)
                    td4.appendChild(a4)

                    tr.appendChild(td1)
                    tr.appendChild(td2)
                    tr.appendChild(td3)
                    tr.appendChild(td4)



                    tb.appendChild(tr)
                });

            }  
        })
        .catch(e => console.log(e))
    })

    fetch('/getProWH?token=<%= token %>', {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })
        .then(req => req.json())
        .then(json => {
            data = json.data
            var tb = document.getElementById('tb')
            tb.innerHTML = ''
            if(json.code === 0){          
                data.forEach(val => {
                    var tr = document.createElement('tr')
                    var td1 = document.createElement('td')
                    var td2 = document.createElement('td')
                    var td3 = document.createElement('td')
                    var td4 = document.createElement('td')
                    var a1 = document.createElement('a')
                    var a2 = document.createElement('a')
                    var a3 = document.createElement('a')
                    var a4 = document.createElement('a')
                    a1.setAttribute('href', '/WHDetail?idProWH=' + val.idProWH)
                    a2.setAttribute('href', '/WHDetail?idProWH=' + val.idProWH)
                    a3.setAttribute('href', '/WHDetail?idProWH=' + val.idProWH)
                    a4.setAttribute('href', '/WHDetail?idProWH=' + val.idProWH)

                    a1.innerHTML = val.idProWH
                    a2.innerHTML = val.name
                    a3.innerHTML = val.qty
                    a4.innerHTML = val.dateIn

                    td1.appendChild(a1)
                    td2.appendChild(a2)
                    td3.appendChild(a3)
                    td4.appendChild(a4)

                    tr.appendChild(td1)
                    tr.appendChild(td2)
                    tr.appendChild(td3)
                    tr.appendChild(td4)



                    tb.appendChild(tr)
                });
            }

        })
        .catch(e => console.log(e))
</script>