<link rel="stylesheet" href="/css/listBill.css">
<h2 class="text-center" style="padding: 10px;">List bills</h2>
<!-- search -->
<div class="search-area t-center m-10">
    <input type="text" id="search" class="input-custom f-1" placeholder="Enter ID bill">
    <button class="btn-custom bg-green cl-white f-1">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>
<div class="content m-10">
    <div class="content-items-area f-1-2">
        <div class="content-item">
            <div class="item item-1"><b>ID Bill</b></div>
            <div class="item item-2"><b>Date</b></div>
            <div class="item item-3"><b>Total</b></div>
        </div>
        <hr>            
        <div id="content-bill" class="items-bill"></div>
    </div>
</div>

<script src="/js/listBills.js"></script>