<link rel="stylesheet" href="/css/listBill.css">
<h2 class="text-center" style="padding: 10px;">List bills</h2>
<!-- search -->
<div class="search-area t-center m-10">
    <input type="text" id="search" class="input-custom f-1" placeholder="Enter ID bill">
    <button class="btn-custom bg-green cl-white f-1">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>

<div class="content m-10">
    <div class="content-items-area f-1-2">
        <div class="content-item">
            <div class="item item-1"><b>ID Bill</b></div>
            <div class="item item-2"><b>Date</b></div>
            <div class="item item-3"><b>Total</b></div>
        </div>
        <hr>            
        <div id="content-bill" class="items-bill"></div>
    </div>
</div>

<script>
    let list_bill = []

    fetch('/api/bill/getBills/?token=<%= token %>', {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(req => req.json())
    .then(json => {
        let data = json.data
        let content_bill = document.getElementById('content-bill')
        let temp = ''
        data.forEach((val, index) => {
            list_bill.push(val)
            temp += `<a href="/bill/billDetail?idBill=${val.idBill}" class="tag-link">
                        <div class="content-item ${index % 2 == 0 ? 'bg-grey cl-white' : ''}">
                            <div class="item item-1">${val.idBill}</div>
                            <div class="item item-2">${val.dateOrder}</div>
                            <div class="item item-3">${val.sum.toLocaleString('vi', {style : 'currency', currency : 'VND'})}</div>
                        </div>
                    </a>`
        })
        content_bill.innerHTML = temp

    })
    .catch(e => console.log(e))

    let search = document.getElementById('search')
        search.addEventListener('keyup', (e) => {
            let words = e.target.value
            let count_cl = 0
            let temp = ''
            let content_bill = document.getElementById('content-bill')
            list_bill.forEach(val => {
                if(val.idBill.toLowerCase().indexOf(words.toLowerCase()) != -1){
                    temp += `<a href="/bill/billDetail?idBill=${val.idBill}" class="tag-link">
                                <div class="content-item ${count_cl % 2 == 0 ? 'bg-grey cl-white' : ''}">
                                    <div class="item item-1">${val.idBill}</div>
                                    <div class="item item-2">${val.dateOrder}</div>
                                    <div class="item item-3">${val.sum.toLocaleString('vi', {style : 'currency', currency : 'VND'})}</div>
                                </div>
                            </a>`
                    count_cl ++
                }

            })
            content_bill.innerHTML = temp
        })
</script>