<form class="form-inline" style="padding: 10px;">
    <input class="input-custom" type="text" id="search" placeholder="Enter staff name" aria-label="Search">
</form>

<div class="list-staff-block" id="list-staff"></div>

<script src="/js/listStaffs.js"></script>