<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/css/loginCus.css">
    <link rel="stylesheet" href="/css/base-customer.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- gg font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <title>Login customer</title>
</head>

<body>
    <div class="container-login">
        <div class="block-login">
            <div class="login-header t-center">
                <img src="/images/XztNn3f.png" alt="logo">
            </div>
            <div class="login-content f-1-2 m-t-30">
                <div class="item-login p-10">
                    <div class="item-form-title">CMND:</div>
                    <input type="text" class="input-custom item-form-input f-1" id="CMND" placeholder="Enter CMND/CCCD" name="CMND" required>
                </div>
                <div class="item-login p-10">
                    <div class="item-form-title">Password:</div>
                    <input type="password" class="input-custom item-form-input f-1" id="password" placeholder="Enter password" name="password" required>
                </div>
                
            </div>
            <div class="p-10 t-center">
                <button id="btn" type="button" class="btn-custom m-10 f-1 p-5-10 bg-green cl-white">Login</button>
                <button id="btn" type="button" class="btn-custom m-10 f-1 p-5-10">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </div>
            <div id="mess" class="err"></div>
        </div>

    </div>
</body>
<script>
    var btn = document.getElementById('btn')


    btn.addEventListener('click',() =>{
        var CMND = document.getElementById('CMND').value
        var password = document.getElementById('password').value

        if(CMND === '' || password === '')
            document.getElementById('mess').innerHTML = 'CMND or pass not empty'
        else{
            fetch('/loginCus',{
                method:"POST",
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({CMND:CMND, password:password})
            })
            .then(req => req.json())
            .then(json => {
                if(json.code == 0)
                    return window.location="/"
                else
                    document.getElementById('mess').innerHTML = 'CMND or password wrong!'
            })
            .catch(e => console.log(e))
        }

    })

</script>
</html>