<link rel="stylesheet" href="/css/pay.css">
<div class="bill" id="bill">
    <div class="bill-title">
        <div>TVT-STADIUM BILL</div>
        <div class="f-1">---o0o---</div>
    </div>
    <div class="bill-info">
        <div class="bill-info-time">
            <div>Choose date use stadium <span class="cl-red">(*)</span></div>
            <input class="input-custom input-select m-t-10" type="date" id="dateOrder">
        </div>
        <div id="info" class="bill-info-check">
            <table border="1" id="tb-info" class="bill-info-check-table">
                <tr>
                    <td class="td-title">ID bill</td> 
                    <td class="td-content" id="idBill"></td>
                </tr>
                <tr>
                    <td class="td-title">ID Customer</td>
                    <td class="td-content"><input class="input-idCus" placeholder="Enter id customer" id="idCus" type="text"></td>
                </tr>
                <tr>
                    <td class="td-title">Saler</td>
                    <td class="td-content" id="nameStaff"><%= name %></td>
                </tr>
                <tr>
                    <td class="td-title">Date</td>
                    <td class="td-content" id="date"></td>
                </tr>
            </table>
            <div class="t-end m-t-10">
                <button  id="btnCheck" class="btn-custom bg-white btn-check-idCus" type="button">Check</button>
            </div>
            
        </div>
    </div>
    <div class="err" id="err2"></div>
    <div id="payArea" style="display: none;">
        <div class="select-staium">
            <input class="input-custom input-select" type="text" id="idsvdSearch" placeholder="Enter ID stadium">
            <button id="btnAdd" class="btn-custom btn-add-items bg-green cl-white" type="button"><i class="fa-solid fa-plus"></i></button>
            <div class="err" id="messAddSvd"></div>
            <table class="tb-items-order">
                <thead>
                    <tr>
                        <th class="t-start">ID stadium</th>
                        <th class="t-start">Stadium name</th>
                        <th class="t-start">Capacity</th>
                        <th class="t-start">Price</th>
                        <th class="t-start"></th>
                    </tr>
                </thead>
                <tbody id="tb"></tbody>
            </table>
        </div>

        <div class="select-product m-t-30">
            <input type="text" class="input-custom input-select" id="idProSearch" placeholder="Enter ID product">
            <button id="btnAddPr" class="btn-custom btn-add-items bg-green cl-white" type="button"><i class="fa-solid fa-plus"></i></button>
            <div class="err" id="messAddPro"></div>
            <table class="tb-items-order">
                <thead>
                    <tr>
                        <th class="t-start">ID product</th>
                        <th class="t-start">Product name</th>
                        <th class="t-start">Quantity</th>
                        <th class="t-start">Price</th>
                        <th class="t-start"></th>
                    </tr>
                </thead>
                <tbody id="tbPr"></tbody>
            </table>
        </div>

        <div class="t-center">
            <div class="t-end f-1-5" id="sum">Total: </div>
            <button class="btn-custom btn-pay f-1-5" type="button" id="pay" disabled><i class="fa-solid fa-cash-register"></i></button>
            <div class="err" id="err"></div>
        </div>
    </div>
</div>

<script src="/js/pay.js"></script>