<!-- css -->
<link rel="stylesheet" href="/css/productDetail.css">
<!--  -->
<h2 class="text-center" style="padding: 10px;" id="head"></h2>

<div class="block-detail f-1-2">
    <div class="block-detail-header t-center">
        <img id="img-logo" src="/images/logo-food.png" alt="" width="100px" height="100px">
    </div>
    <div class="block-detail-body">
        <div class="body-item p-10">
            <div class="body-item-title">ID</div>
            <div class="body-item-content" id="idPro"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Name</div>
            <div class="body-item-content" id="name"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Type</div>
            <div class="body-item-content" id="type"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Quantity</div>
            <div class="body-item-content" id="qty"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Price</div>
            <div class="body-item-content" id="price"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Date</div>
            <div class="body-item-content" id="date"></div>
        </div>
    </div>
    <div class="t-center">
        <% if(locals.position === 2){ %>
        <button class="btn-custom f-1-2 m-10 bg-red cl-white" id="btn_delete">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    
        <% } %>
        <a href="/product/listProducts">
            <button class="btn-custom f-1-2 m-10">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </a>
    </div>
</div>
<script>
    var url = new URL(window.location)
    var idPro = url.searchParams.get('idPro')    


    fetch('/getPro/'+idPro+"?token=<%= token %>", {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })
    .then(req => req.json())
    .then(json => {
        console.log(json)
        if(json.code === 0){
            data = json.data[0]
            console.log(data)
            var idPro = document.getElementById('idPro')
            var name = document.getElementById('name')
            var type = document.getElementById('type')
            var qty = document.getElementById('qty')
            var price = document.getElementById('price')
            var date = document.getElementById('date')

            idPro.innerHTML = data.idPro
            name.innerHTML = data.name
            qty.innerHTML = data.qty
            price.innerHTML = data.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
            date.innerHTML = data.dateIn

            if(data.type === 0){
                type.innerHTML = "Drink"
                document.getElementById('img-logo').setAttribute('src','/images/logo-drink.png')
            }
               
            else if(data.type === 1){
                type.innerHTML = "Food"
                document.getElementById('img-logo').setAttribute('src','/images/logo-food.png')

            }
                
            else{
                type.innerHTML = "Item"
                document.getElementById('img-logo').setAttribute('src','/images/logo-item.png')
            }
                

            document.getElementById('head').innerHTML = data.idPro
        }  
    })
    .catch(e => console.log(e))


    var btn_delete = document.getElementById('btn_delete')
    if(btn_delete)
        btn_delete.addEventListener("click",() => {
            var url = new URL(window.location)
            var idPro = url.searchParams.get('idPro')  

            fetch('/deletePro/', {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify({
                    token : "<%= token %>",
                    idPro : idPro
                })
            })
            .then(req => req.json())
            .then(json => {
                if(json.code === 0){
                    return window.location.href = "/listProducts"
                }  
            })
            .catch(e => console.log(e))
        })

</script>