<!-- css -->
<link rel="stylesheet" href="/css/profile.css">
<!-- ------------------------------------------ -->
<div class="profile-content">
    <div class="profile-header-name" id="name"></div>
    <div class="profile-detail">
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">ID</div>
            <div id="idStaff" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Gender</div>
            <div id="gender" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Age</div>
            <div id="age" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Shift</div>
            <div id="shift" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Position</div>
            <div id="position" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Salary</div>
            <div id="salary" class="profile-detail-items-content"></div>
        </div>
        <div class="btn-profile-area">
            <a href="/manager/profile-manager"><button class="btn-custom btn-profile" type="button"><i class="fa-solid fa-arrow-right-to-bracket"></i></button></a>
        </div>
    </div>
</div>

<!-- <h2 class="text-center" style="padding: 10px;" id="head">Profile</h2>
<table class="table table-hover" style="width: 50%; margin: auto;">
    <tbody id="tb">
        <tr>
            <td>ID</td>
            <td id="idStaff"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td id="name"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td id="gender"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td id="age"></td>
        </tr>
        <tr>
            <td>Salery</td>
            <td id="salery"></td>
        </tr>
        <tr>
            <td>Shift</td>
            <td id="shift"></td>
        </tr>
        <tr>
            <td>Position</td>
            <td id="position"></td>
        </tr>
    </tbody>
</table>
<div class="text-center"><a href="/"><button class="btn btn-dark">Back</button></a></div> -->
<script>
        
    fetch('/getProfileAPI?token=<%= token %>', {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(req => req.json())
    .then(json => {
        console.log(json)
        if(json.code === 0){
            data = json.data[0]
            var idStaff = document.getElementById('idStaff')
            var name = document.getElementById('name')
            var age = document.getElementById('age')
            var gender = document.getElementById('gender')
            var shift = document.getElementById('shift')
            var salary = document.getElementById('salary')
            var position = document.getElementById('position')

            idStaff.innerHTML = data.idStaff
            name.innerHTML = data.name
            age.innerHTML = data.age
            salary.innerHTML = data.salery.toLocaleString('vi', {style : 'currency', currency : 'VND'})
            shift.innerHTML = data.shift

            if(data.gender === 0)
                gender.innerHTML = "Male"
            else
                gender.innerHTML = "Femail"

            if(data.position === 0)
                position.innerHTML = "Manager"
            else if(data.position === 1)
                position.innerHTML = "Saler"
            else position.innerHTML = "Employee"
        }  
    })
    .catch(e => console.log(e))

</script>