<div class="container">
    <h2 class="text-center">Revenue</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id Bill</th>
                <th>Id customer</th>
                <th>Total bill</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="tb_profit">
        </tbody>
    </table>
    <div class="text-right" id="all_profit" style="margin: 20px; color: red; font-weight: bold; font-size: 20px;"></div>
</div>

<script>
    fetch('/getBills?token=<%= token %>',{
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(req => req.json())
    .then(json => {
        console.log(json)
        if(json.code === 0){
            
            data = json.data
            var tb_profit = document.getElementById('tb_profit')
            var all_salery = document.getElementById('all_salery')
            var sum_profit = 0
            data.forEach(val => {
                var tr = document.createElement("tr")

                var td1 = document.createElement("td")
                var td2 = document.createElement("td")
                var td3 = document.createElement("td")
                var td4 = document.createElement("td")
                var td5 = document.createElement("td")

                td1.innerHTML = val.idBill
                td2.innerHTML = val.idCus
                td3.innerHTML = val.sum.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                
                td4.innerHTML = val.dateOrder

                tr.appendChild(td1)
                tr.appendChild(td2)
                tr.appendChild(td3)
                tr.appendChild(td4)

                tb_profit.appendChild(tr)
                sum_profit += parseInt(val.sum)
            })
            
            all_profit.innerHTML = "Total: " + sum_profit.toLocaleString('vi', {style : 'currency', currency : 'VND'})
        } 
    })
    .catch(err => console.log(err))

</script>