<!-- css -->
<link rel="stylesheet" href="/css/profile.css">
<!-- ------------------------------------------ -->
<div class="profile-content">
    <div class="profile-header-name" id="name"></div>
    <div class="profile-detail">
        <div class="profile-header-name">
            <img style="text-align: center" id="img-avt" src="" alt="avatar" width="100px"> 
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">ID</div>
            <div id="idStaff" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Gender</div>
            <div id="gender" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Age</div>
            <div id="age" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Shift</div>
            <div id="shift" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Position</div>
            <div id="position" class="profile-detail-items-content"></div>
        </div>
        <div class="profile-detail-items">
            <div class="profile-detail-items-title">Salary</div>
            <div id="salary" class="profile-detail-items-content"></div>
        </div>
        <div class="btn-profile-area">
            <a href="/manager/profile-manager"><button class="btn-custom btn-profile" type="button"><i class="fa-solid fa-arrow-right-to-bracket"></i></button></a>
        </div>
    </div>
</div>
<script>
        
    fetch('/getProfileAPI?token=<%= token %>', {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(req => req.json())
    .then(json => {
        console.log(json)
        if(json.code === 0){
            data = json.data[0]
            let idStaff = document.getElementById('idStaff')
            let name = document.getElementById('name')
            let age = document.getElementById('age')
            let gender = document.getElementById('gender')
            let shift = document.getElementById('shift')
            let salary = document.getElementById('salary')
            let position = document.getElementById('position')
            let img_avt = document.getElementById('img-avt')

            idStaff.innerHTML = data.idStaff
            name.innerHTML = data.name
            age.innerHTML = data.age
            salary.innerHTML = data.salery.toLocaleString('vi', {style : 'currency', currency : 'VND'})
            shift.innerHTML = data.shift

            if(data.gender === 0){
                gender.innerHTML = "Male"
                img_avt.setAttribute('src', 'https://iconape.com/wp-content/png_logo_vector/avatar.png')
            }
            else{
                gender.innerHTML = "Femail"
                img_avt.setAttribute('src', 'https://iconape.com/wp-content/png_logo_vector/avatar-3.png')
            }

            if(data.position === 0)
                position.innerHTML = "Manager"
            else if(data.position === 1)
                position.innerHTML = "Saler"
            else position.innerHTML = "Employee"
        }  
    })
    .catch(e => console.log(e))

</script>