<link rel="stylesheet" href="/css/profit.css">
<div class="container">
    <h2 class="text-center">Revenue</h2>

    <div class="content">
        <div class="content-items-area f-1-2">
            <div class="content-item">
                <div class="item item-1"><b>ID bill</b></div>
                <div class="item item-2"><b>ID customer</b></div>
                <div class="item item-3"><b>Date</b></div>
                <div class="item item-4"><b>Total</b></div>
            </div>            
            <div id="content-profit" class="items-profit"></div>
            <div class="t-end p-10">Total: <span class="cl-red" id="total-profit">3.000.000 vnd</span></div>
        </div>
    </div>
</div>

<script src="/js/profit.js"></script>