<link rel="stylesheet" href="/css/staff-detail.css">
<div class="detail-container">
    <div class="detail-container-header" id="name">admin</div>
    <div class="detail-content">
        <div class="detail-content-items">
            <img style="text-align: center" id="img-avt" src="https://iconape.com/wp-content/png_logo_vector/avatar-3.png" alt="avatar" width="100px">                
            <div class="btn-area-list">
                <button type="button" class="btn-custom btn-detail bg-green cl-white" id="btn-show-update"><i class="fa-solid fa-pen-to-square"></i></button>        
                <button id="btn" type="button" class="btn-custom btn-detail bg-yl"><i class="fa-solid fa-repeat"></i></button>
                <button id="btn_delete" type="button" class="btn-custom btn-detail bg-red cl-white"><i class="fa-solid fa-trash-can"></i></button>    
            </div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">ID</div>
            <div class="detail-items-content" id="idStaff"></div>            
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Gender</div>
            <div id="gender" class="detail-items-content"></div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Age</div>
            <div id="age" class="detail-items-content"></div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Shift</div>
            <div id="shift" class="detail-items-content"></div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Position</div>
            <div id="position" class="detail-items-content"></div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Salary</div>
            <div id="salary" class="detail-items-content"></div>
        </div>
        <div class="success" id="success"></div>
        <div class="btn-detail-area">
            <a href="/staff/listStaffs" style="text-decoration: none;"><button class="btn-custom btn-detail" type="button"><i class="fa-solid fa-arrow-right-from-bracket"></i></button></a>
        </div>
    </div>
</div>

<div class="modal-update" id="modal-update" style="display: none;">
    <div class="modal-update-header t-center f-1-5 m-bt-10">
        <img style="text-align: center" id="img-avt-modal" src="https://iconape.com/wp-content/png_logo_vector/avatar-3.png" alt="avatar" width="100px">
        <div>Tran Vinh Trungss</div>
    </div>
    <div class="modal-update-body">
        <div class="modal-items">
            <div class="modal-items-title">ID</div>
            <div class="modal-items-content" id="idStaff_MD">51802560</div>
        </div>
        <div class="modal-items">
            <div class="modal-items-title">Salary</div>
            <div class="modal-items-content">
                <input class="input-custom f-1" style="width: 110px;" type="number" id="salery_MD" name="salery" required value="25022">
            </div>
        </div>
        <div class="modal-items">
            <div class="modal-items-title">Shift</div>
            <div class="modal-items-content">
                <select name="shift" id="shift_MD"  class="input-custom f-1">
                    <option value="Ca1">Ca1</option>
                    <option value="Ca2">Ca2</option>
                    <option value="Ca3">Ca3</option>
                    <option value="Ca4">Ca4</option>
                </select>
            </div>
        </div>
        <div class="modal-items">
            <div class="modal-items-title">Position</div>
            <div class="modal-items-content">
                <select name="position" id="position_MD" class="input-custom f-1">
                    <option value="0">Manager</option>
                    <option value="1">Saler</option>
                    <option value="2">Employee</option>
                </select>
            </div>
        </div>
        <div class="err" id="err"></div>
    </div>

    <div class="modal-footer t-center">
        <button id="btn_update" type="button" class="btn-custom btn-update-modal bg-green cl-white">Update</button>
        <button type="button" class="btn-custom btn-update-modal bg-white" id="btn-close-modal">Close</button>
    </div>
</div>


<script>
    let url = new URL(window.location)
    let idStaff = url.searchParams.get('idStaff')
    let btn = document.getElementById('btn')
    let btn_delete = document.getElementById("btn_delete")
    let btn_show_update = document.getElementById('btn-show-update')
    let btn_close_modal = document.getElementById('btn-close-modal')

    btn_show_update.addEventListener('click', () => {
        let modal = document.getElementById('modal-update')
        modal.style.display = 'block'
    })

    btn_close_modal.addEventListener('click', () => {
        let modal = document.getElementById('modal-update')
        modal.style.display = 'none'
    })

    btn.addEventListener('click', ()=>{
        let url = new URL(window.location)
        let idStaff = url.searchParams.get('idStaff')
        
        fetch('/resetPass', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    idStaff : idStaff,
                    password : idStaff,
                    token:"<%= token %>"                    
                })
            })
            .then(req => req.json())
            .then(json => {
                if(json.code === 0){
                    document.getElementById('success').innerHTML =  json.message
                }  
            })
            .catch(e => console.log(e))
    })

    fetch('/getStaffs/'+idStaff+'?token=<%= token %>', {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })
    .then(req => req.json())
    .then(json => {
        if(json.code === 0){
            data = json.data[0]
            let idStaff = document.getElementById('idStaff')
            let name = document.getElementById('name')
            let age = document.getElementById('age')
            let gender = document.getElementById('gender')
            let shift = document.getElementById('shift')
            let salary = document.getElementById('salary')
            let position = document.getElementById('position')
            let img_avt = document.getElementById('img-avt')
            let img_avt_modal = document.getElementById('img-avt-modal')

            idStaff.innerHTML = data.idStaff
            name.innerHTML = data.name
            age.innerHTML = data.age
            salary.innerHTML = data.salery.toLocaleString('vi', {style : 'currency', currency : 'VND'})
            shift.innerHTML = data.shift

            if(data.gender === 0){
                gender.innerHTML = "Male"
                img_avt.setAttribute('src','https://iconape.com/wp-content/png_logo_vector/avatar.png')
                img_avt_modal.setAttribute('src','https://iconape.com/wp-content/png_logo_vector/avatar.png')
            }
            else{
                gender.innerHTML = "Female"
                img_avt.setAttribute('src', 'https://iconape.com/wp-content/png_logo_vector/avatar-3.png')
                img_avt_modal.setAttribute('src', 'https://iconape.com/wp-content/png_logo_vector/avatar-3.png')
            }
                

            if(data.position === 0)
                position.innerHTML = "Manager"
            else if(data.position === 1)
                position.innerHTML = "Saler"
            else position.innerHTML = "Employee"

        //Modal
            document.getElementById('idStaff_MD').innerHTML = data.idStaff
            document.getElementById('salery_MD').value = data.salery
            document.getElementById('shift_MD').value = data.shift
            document.getElementById('position_MD').value = data.position

        }  
    })
    .catch(e => console.log(e))

    btn_delete.addEventListener('click', ()=>{
        let url = new URL(window.location)
        let idStaff = url.searchParams.get('idStaff')
        
        fetch('/deleteStaff', {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    idStaff : idStaff,
                    token:"<%= token %>"                    
                })
            })
            .then(req => req.json())
            .then(json => {
                if(json.code === 0){
                    return window.location.href = "/"
                }  
            })
            .catch(e => console.log(e))
    })

    let btn_update = document.getElementById('btn_update')

    btn_update.addEventListener("click", () =>{
        document.getElementById("err").innerHTML = ''
        let idStaff_MD = document.getElementById('idStaff_MD').innerHTML
        let salery_MD = document.getElementById('salery_MD').value
        let shift_MD = document.getElementById('shift_MD').value
        let position_MD = document.getElementById('position_MD').value

        if (idStaff_MD && salery_MD && shift_MD && position_MD) {
            fetch('/updateStaff', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    idStaff: idStaff_MD,
                    salery: salery_MD,
                    position: position_MD,
                    shift: shift_MD,
                    token: "<%= token %>"
                })
            })
                .then(res => res.json())
                .then(json => {
                    if (json.code === 0) {
                        return window.location.href = ''
                    }
                    else
                        document.getElementById('err').innerHTML = "update fail!"
                })
                .catch(err => console.log(err))
        }
        else
            document.getElementById('err').innerHTML = "please check infomation again"

    })
</script>