<link rel="stylesheet" href="/css/staff-detail.css">
<div class="detail-container">
    <div class="detail-container-header" id="name">admin</div>
    <div class="detail-content">
        <div class="detail-content-items">
            <img style="text-align: center" id="img-avt" src="/images/staff-fm.png" alt="avatar" width="100px">                
            <div class="btn-area-list">
                <button type="button" class="btn-custom btn-detail bg-green cl-white" id="btn-show-update"><i class="fa-solid fa-pen-to-square"></i></button>        
                <button id="btn" type="button" class="btn-custom btn-detail bg-yl"><i class="fa-solid fa-repeat"></i></button>
                <button id="btn_delete" type="button" class="btn-custom btn-detail bg-red cl-white"><i class="fa-solid fa-trash-can"></i></button>    
            </div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">ID</div>
            <div class="detail-items-content" id="idStaff"></div>            
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Gender</div>
            <div id="gender" class="detail-items-content"></div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Age</div>
            <div id="age" class="detail-items-content"></div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Shift</div>
            <div id="shift" class="detail-items-content"></div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Position</div>
            <div id="position" class="detail-items-content"></div>
        </div>
        <div class="detail-content-items">
            <div class="detail-items-title">Salary</div>
            <div id="salary" class="detail-items-content"></div>
        </div>
        <div class="success" id="success"></div>
        <div class="btn-detail-area">
            <a href="/staff/listStaffs" style="text-decoration: none;"><button class="btn-custom btn-detail" type="button"><i class="fa-solid fa-arrow-right-from-bracket"></i></button></a>
        </div>
    </div>
</div>

<div class="modal-update" id="modal-update" style="display: none;">
    <div class="modal-update-header t-center f-1-5 m-bt-10">
        <img style="text-align: center" id="img-avt-modal" src="/images/staff-fm.png" alt="avatar" width="100px">
        <div>Tran Vinh Trungss</div>
    </div>
    <div class="modal-update-body">
        <div class="modal-items">
            <div class="modal-items-title">ID</div>
            <div class="modal-items-content" id="idStaff_MD">51802560</div>
        </div>
        <div class="modal-items">
            <div class="modal-items-title">Salary</div>
            <div class="modal-items-content">
                <input class="input-custom f-1" style="width: 110px;" type="number" id="salary_MD" name="salary" required value="25022">
            </div>
        </div>
        <div class="modal-items">
            <div class="modal-items-title">Shift</div>
            <div class="modal-items-content">
                <select name="shift" id="shift_MD"  class="input-custom f-1">
                    <option value="Ca1">Ca1</option>
                    <option value="Ca2">Ca2</option>
                    <option value="Ca3">Ca3</option>
                    <option value="Ca4">Ca4</option>
                </select>
            </div>
        </div>
        <div class="modal-items">
            <div class="modal-items-title">Position</div>
            <div class="modal-items-content">
                <select name="position" id="position_MD" class="input-custom f-1">
                    <option value="0">Manager</option>
                    <option value="1">Saler</option>
                    <option value="2">Employee</option>
                </select>
            </div>
        </div>
        <div class="err" id="err"></div>
    </div>

    <div class="modal-footer t-center">
        <button id="btn_update" type="button" class="btn-custom btn-update-modal bg-green cl-white">Update</button>
        <button type="button" class="btn-custom btn-update-modal bg-white" id="btn-close-modal">Close</button>
    </div>
</div>


<script src="/js/staffDetail.js"></script>