<!-- css -->
<link rel="stylesheet" href="/css/svdDetail.css">

<h2 class="text-center" style="padding: 10px;" id="head"></h2>

<div class="block-container">
    <div class="block-container-title">
        <div class="block-container-title-img">
            <img id="img-type-svd" src="/images/normal.png" alt="NM" width="80px" height="80px">
        </div>
    <% if(locals.position === 2){ %>
        <div class="">           
            <button class="btn-custom f-1-2 bg-green cl-white p-10 m-10" id="btn-show-modal">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>

 
        </div>
    <% } %>    
    </div>
    <div class="block-container-body">
        <div class="body-items">
            <div class="body-items-title">ID</div>
            <div class="body-items-content" id="idSvd"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Name</div>
            <div class="body-items-content" id="name"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Capacity</div>
            <div class="body-items-content" id="capacity"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Status</div>
            <div class="body-items-content" id="status"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Type</div>
            <div class="body-items-content" id="type"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Price</div>
            <div class="body-items-content" id="price"></div>
        </div>
        <div class="t-end">
            <a href="/svd/listSvd">
                <button class="btn-custom f-1-2">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </a>
        </div>
        <div id="mess" class="success"><%= locals.mess %></div>
    </div>
</div>

<div class="modal" id="myModal" style="display: none;">
    <div class="modal-content p-10">
        <!-- Modal Header -->
        <div class="modal-header t-center">
            <img id="img-type-svd-MD" src="/images/normal.png" alt="NM" width="80px" height="80px">
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="modal-body-item">
                <div class="modal-body-item-title">ID</div>
                <div class="modal-body-item-content" id="idSvd_MD">ID</div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">name</div>
                <div class="modal-body-item-content" id="name_MD">ID</div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Capacity</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" id="capacity_MD" type="number">
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Status</div>
                <div class="modal-body-item-content">
                    <select class="input-custom f-1" name="status" id="status_MD">
                        <option value="0">empty</option>
                        <option value="1">ordered</option>
                    </select>
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Type</div>
                <div class="modal-body-item-content">
                    <select class="input-custom f-1" name="type" id="type_MD">
                        <option value="0">Normal</option>
                        <option value="1">VIP</option>
                    </select>
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Image</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" type="text" id="image_MD">
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Image detail 1</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" type="text" id="image_detail_1_MD">
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Image detail 2</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" type="text" id="image_detail_2_MD">
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Price</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" type="number" id="price_MD">
                </div>
            </div>

            <div class="err" id="err"></div>
        </div>

        <!-- Modal footer -->
        <div class="t-center">
            <button class="btn-custom cl-white bg-green f-1-2 m-10" id="btn_update" type="button">
                <i class="fa-solid fa-arrows-rotate"></i>
            </button>
            <button class="btn-custom f-1-2 m-10" type="button" id="btn-close-modal">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

    </div>

</div>

<script>
    let btn_update = document.getElementById('btn_update')
    let url = new URL(window.location)
    let idSvd = url.searchParams.get('idSvd')
    let btn_show_modal = document.getElementById('btn-show-modal')
    let btn_close_modal = document.getElementById('btn-close-modal')

    if(btn_show_modal)
        btn_show_modal.addEventListener('click', () => {
            let myModal = document.getElementById('myModal')
            myModal.style.display = 'block',
            document.getElementById('mess').innerHTML = ''
        })
    
    if(btn_close_modal)
        btn_close_modal.addEventListener('click', () => {
            let myModal = document.getElementById('myModal')
            myModal.style.display = 'none'
        })

    fetch('/api/svd/getSvd/' + idSvd + "?token=<%= token %>", {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })
        .then(req => req.json())
        .then(json => {
            if (json.code === 0) {
                data = json.data[0]
                let idSvd = document.getElementById('idSvd')
                let name = document.getElementById('name')
                let type = document.getElementById('type')
                let price = document.getElementById('price')
                let capacity = document.getElementById('capacity')
                let status = document.getElementById('status')
                let img_type_svd = document.getElementById('img-type-svd')
                let img_type_svd_MD = document.getElementById('img-type-svd-MD')

                idSvd.innerHTML = data.idSvd
                name.innerHTML = data.name
                if (data.type == 1){
                    type.innerHTML = "VIP"
                    img_type_svd.setAttribute('src', '/images/vip.png')
                    img_type_svd_MD.setAttribute('src', data.image)
                }
                else{
                    type.innerHTML = "normal"
                    img_type_svd.setAttribute('src', '/images/normal.png')
                    img_type_svd_MD.setAttribute('src', data.image)
                }
                    
                if (data.status === 0)
                    status.innerHTML = "empty"
                else
                    status.innerHTML = "ordered"
                price.innerHTML = data.price.toLocaleString('vi', { style: 'currency', currency: 'VND' }) + "/h"
                capacity.innerHTML = data.capacity + " people"

                document.getElementById('head').innerHTML = data.idSvd

                let idSvd_MD = document.getElementById('idSvd_MD')
                let name_MD = document.getElementById('name_MD')
                let price_MD = document.getElementById('price_MD')
                let image_MD = document.getElementById('image_MD')
                let image_detail_1_MD = document.getElementById('image_detail_1_MD')
                let image_detail_2_MD = document.getElementById('image_detail_2_MD')
                let capacity_MD = document.getElementById('capacity_MD')
                let type_MD = document.getElementById('type_MD')
                let status_MD = document.getElementById('status_MD')

                idSvd_MD.innerHTML = data.idSvd
                name_MD.innerHTML = data.name
                capacity_MD.value = data.capacity
                price_MD.value = data.price
                image_MD.value = data.image
                image_detail_1_MD.value = data.image_detail_1
                image_detail_2_MD.value = data.image_detail_2
                type_MD.value = data.type
                status_MD.value = data.status
            }
        })
        .catch(e => console.log(e))

    btn_update.addEventListener("click", () => {
        document.getElementById('err').innerHTML = ""
        let idSvd_MD = document.getElementById('idSvd_MD').innerHTML
        let price_MD = document.getElementById('price_MD').value
        let capacity_MD = document.getElementById('capacity_MD').value
        let type_MD = document.getElementById('type_MD').value
        let status_MD = document.getElementById('status_MD').value
        let image_MD = document.getElementById('image_MD').value
        let image_detail_1_MD = document.getElementById('image_detail_1_MD').value
        let image_detail_2_MD = document.getElementById('image_detail_2_MD').value

        if (idSvd_MD && price_MD && capacity_MD && type_MD && status_MD && image_MD) {
            fetch('/api/svd/updateSvd', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    idSvd: idSvd_MD,
                    type: type_MD,
                    capacity: capacity_MD,
                    status: status_MD,
                    image: image_MD,
                    image_detail_1: image_detail_1_MD,
                    image_detail_2: image_detail_2_MD,
                    price: price_MD,
                    token: "<%= token %>"
                })
            })
                .then(res => res.json())
                .then(json => {
                    console.log(json)
                    if (json.code === 0) {
                        return window.location.href = `/svd/svdDetail?idSvd=${idSvd_MD}&mess=Update ${idSvd_MD} success`
                    }
                    else
                        document.getElementById('err').innerHTML = "update fail!"
                })
                .catch(err => console.log(err))
        }
        else
            document.getElementById('err').innerHTML = "please check infomation again"

    })
</script>