<!-- css -->
<link rel="stylesheet" href="/css/svdDetail.css">

<h2 class="text-center" style="padding: 10px;" id="head"></h2>

<div class="block-container">
    <div class="block-container-title">
        <div class="block-container-title-img">
            <img id="img-type-svd" src="/images/normal.png" alt="NM" width="80px" height="80px">
        </div>
    <% if(locals.position === 2){ %>
        <div class="">           
            <button class="btn-custom f-1-2 bg-green cl-white p-10 m-10" id="btn-show-modal">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        </div>
    <% } %>    
    </div>
    <div class="block-container-body">
        <div class="body-items">
            <div class="body-items-title">ID</div>
            <div class="body-items-content" id="idSvd"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Name</div>
            <div class="body-items-content" id="name"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Capacity</div>
            <div class="body-items-content" id="capacity"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Status</div>
            <div class="body-items-content" id="status"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Type</div>
            <div class="body-items-content" id="type"></div>
        </div>
        <div class="body-items">
            <div class="body-items-title">Price</div>
            <div class="body-items-content" id="price"></div>
        </div>
        <div class="t-end">
            <a href="/svd/listSvd">
                <button class="btn-custom f-1-2">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </a>
        </div>
        <div id="mess" class="success"><%= locals.mess %></div>
    </div>
</div>

<div class="modal" id="myModal" style="display: none;">
    <div class="modal-content p-10">
        <!-- Modal Header -->
        <div class="modal-header t-center">
            <img id="img-type-svd-MD" src="/images/normal.png" alt="NM" width="80px" height="80px">
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="modal-body-item">
                <div class="modal-body-item-title">ID</div>
                <div class="modal-body-item-content" id="idSvd_MD">ID</div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">name</div>
                <div class="modal-body-item-content" id="name_MD">ID</div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Capacity</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" id="capacity_MD" type="number">
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Status</div>
                <div class="modal-body-item-content">
                    <select class="input-custom f-1" name="status" id="status_MD">
                        <option value="0">empty</option>
                        <option value="1">ordered</option>
                    </select>
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Type</div>
                <div class="modal-body-item-content">
                    <select class="input-custom f-1" name="type" id="type_MD">
                        <option value="0">Normal</option>
                        <option value="1">VIP</option>
                    </select>
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Image</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" type="text" id="image_MD">
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Image detail 1</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" type="text" id="image_detail_1_MD">
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Image detail 2</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" type="text" id="image_detail_2_MD">
                </div>
            </div>

            <div class="modal-body-item">
                <div class="modal-body-item-title">Price</div>
                <div class="modal-body-item-content">
                    <input class="input-custom f-1" type="number" id="price_MD">
                </div>
            </div>

            <div class="err" id="err"></div>
        </div>

        <!-- Modal footer -->
        <div class="t-center">
            <button class="btn-custom cl-white bg-green f-1-2 m-10" id="btn_update" type="button">
                <i class="fa-solid fa-arrows-rotate"></i>
            </button>
            <button class="btn-custom f-1-2 m-10" type="button" id="btn-close-modal">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

    </div>

</div>

<script src="/js/svdDetail.js"></script>