<link rel="stylesheet" href="/css/TTBBrDetail.css">
<h2 class="text-center" style="padding: 10px;" id="head"></h2>

<div class="block-detail f-1-2">
    <div class="block-detail-header t-center">
        <img id="img-logo" src="/images/logo-equip.png" alt="" width="100px" height="100px">
    </div>
    <div class="block-detail-body">
        <div class="body-item p-10">
            <div class="body-item-title">ID</div>
            <div class="body-item-content" id="idTTB_Br"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">ID equipment</div>
            <div class="body-item-content" id="idTTB"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Tag</div>
            <div class="body-item-content" id="name"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Quantity</div>
            <div class="body-item-content" id="qty"></div>
        </div>

        <div class="body-item p-10">
            <div class="body-item-title">Price input</div>
            <div class="body-item-content" id="priceInput"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Date</div>
            <div class="body-item-content" id="date"></div>
        </div>
    </div>
    <div class="t-center">
        <a href="/equipment/listEquipmentDamage">
            <button class="btn-custom f-1-2 m-10">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </a>
    </div>
</div>


<script>
    var url = new URL(window.location)
    var idTTB_Br = url.searchParams.get('idTTB_Br')    


    fetch('/api/equipment/getTTB_Broken/'+idTTB_Br+"?token=<%= token %>", {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })
    .then(req => req.json())
    .then(json => {
        if(json.code === 0){
            data = json.data[0]
            var idTTB_Br = document.getElementById('idTTB_Br')
            var idTTB = document.getElementById('idTTB')
            var name = document.getElementById('name')
            var qty = document.getElementById('qty')
            var priceIn = document.getElementById('priceInput')
            var date = document.getElementById('date')

            idTTB_Br.innerHTML = data.idTTB_Br
            idTTB.innerHTML = data.idTTB
            name.innerHTML = data.name
            qty.innerHTML = data.qty
            priceIn.innerHTML = parseInt(data.priceIn).toLocaleString('vi', {style : 'currency', currency : 'VND'})
            date.innerHTML = data.dateIn

            document.getElementById('head').innerHTML = data.idTTB_Br

        }  
    })
    .catch(e => console.log(e))
</script>