<!-- css -->
<link rel="stylesheet" href="/css/list-view-stadium.css">
<link rel="stylesheet" href="/css/viewDetail.css">

<div class="bar-header"></div>
<div class="content-item">
    <div class="content-img">
        <div class="show-img-main">
            <img id="img-main" class="img-main" src="https://fastly.4sqi.net/img/general/600x600/65895415_yfkWMGFKK6AVQWFgW3jDxKLX0T_5fv11on4DJNTR2NY.jpg" alt="item-stadium" draggable="false" width="600px" height="400px">
        </div>
        <div class="list-img">
            <img data-stt="0" id="img-0" class="img-item img-active" src="https://fastly.4sqi.net/img/general/600x600/65895415_yfkWMGFKK6AVQWFgW3jDxKLX0T_5fv11on4DJNTR2NY.jpg" alt="item-stadium" draggable="false" width="100px" height="60px">
            <img data-stt="1" id="img-1" class="img-item" src="https://www.eastleigh.gov.uk/media/8948/grass2.jpg?anchor=center&mode=crop&quality=70&width=630&height=415" alt="item-stadium" draggable="false" width="100px" height="60px">
            <img data-stt="2" id="img-2" class="img-item" src="https://footballgroundguide.com/wp-content/uploads/2021/04/F1c.jpg" alt="item-stadium" draggable="false" width="100px" height="60px">       
        </div>
    </div>
    <div class="contain-detail f-1-2">
        <div class="detail-item p-10">
            <div class="detail-item-1">Tag</div>
            <div class="detail-item-2" id="name">Std N.01 silver</div>
        </div>
        <div class="detail-item p-10">
            <div class="detail-item-1">Capacity</div>
            <div class="detail-item-2" id="capacity">Std N.01 silver</div>
        </div>
        <div class="detail-item p-10">
            <div class="detail-item-1">Type</div>
            <div class="detail-item-2" id="type">Std N.01 silver</div>
        </div>
        <div class="detail-item p-10">
            <div class="detail-item-1">Price</div>
            <div class="detail-item-2" id="price">Std N.01 silver</div>
        </div>
        <div class="detail-item p-10">
            <div class="detail-item-1">Status</div>
            <div class="detail-item-2" id="status">Std N.01 silver</div>
        </div>
        <div class="note p-10 f-1"><span class="cl-red f-1-2">Note: </span><br>When ordering please bring cmnd/cccd to create an account and verify the owner. In addition, a 50% deposit is required to keep the stadium</div>
        <div class="note p-10 t-end">
            <a href="/list-view-stadiums">
                <button class="btn-custom f-1-2">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>                
            </a>

        </div>
    </div>
</div>

<hr>

<div class="t-start f-1-5 p-10">Same type</div>
<div class="stadium-1 slider" id="recommend-svd"></div>

<script src="/js/viewDetail.js"></script>