    <!-- img header -->
    <div class="img-title"></div>

    <!-- list items 1 -->
    <div class="stadium mg-t-50">
        <h2 class="t-center">Standard stadiums</h2>
        <div class="stadium-1 slider" id="stadium-std">
            
        </div>

        <!-- list items 2 -->
        <h2 class="t-center">VIP stadiums</h2>
        <div class="stadium-1 slider" id="stadium-vip">
            
        </div>
    </div>

    <div class="t-center btn-area mg-t">
        <a href="/list-view-stadiums">
            <button class="btn-show-all">Show all</button>
        </a>
       
    </div>
    <div class="stadium-2 mg-t-50">
        <img class="img-show-action" src="https://thumbs.dreamstime.com/b/night-stadium-arena-soccer-field-d-render-57408871.jpg" width="80%">
    </div>

    <div class="info-shop mg-t">
        <img class="img-show-action" src="https://thumbs.dreamstime.com/b/night-stadium-arena-soccer-field-d-render-57408871.jpg" width="40%">
        <img class="img-show-action" src="https://cdn-img.thethao247.vn/upload/cuongnm/2020/04/17/san-trung-quoc.jpg" width="40%">
    </div>

    
<script src="/js/welcome.js"></script>

</html>