<link rel="stylesheet" href="/css/WHDetail.css">
<div class="t-start" style="padding: 10px;" id="head"></div>

<div class="block-detail f-1-2">
    <div class="block-detail-header t-center">
        <img id="img-logo" src="/images/logo-food.png" alt="" width="100px" height="100px">
    </div>
    <div class="block-detail-body">
        <div class="body-item p-10">
            <div class="body-item-title">ID</div>
            <div class="body-item-content" id="idProWH"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Name</div>
            <div class="body-item-content" id="name"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Type</div>
            <div class="body-item-content" id="type"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Quantity</div>
            <div class="body-item-content" id="qty"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Price</div>
            <div class="body-item-content" id="price"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Price input</div>
            <div class="body-item-content" id="priceInput"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Date</div>
            <div class="body-item-content" id="date"></div>
        </div>
    </div>
    <div class="t-center">
        <% if(locals.position === 2){ %>
            <button type="button" class="btn-custom f-1-2 m-10 bg-green cl-white" id="btn-show-modal">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        <% } %>
        <button class="btn-custom f-1-2 m-10 bg-red cl-white" id="btn_delete">
            <i class="fa-solid fa-trash-can"></i>
        </button>
        <a href="/warehouse/listWH">
            <button class="btn-custom f-1-2 m-10">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </a>
    </div>
</div>

<div class="modal" id="myModal" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="t-center">
                <img id="img-logo" src="/images/logo-food.png" alt="" width="100px" height="100px">
            </div>
        </div>
        <div class="modal-body f-1-2">
            <div class="modal-body-item p-10">
                <div class="MD-body-item-title">ID</div>
                <div class="MD-body-item-content" id="idProWH_MD"></div>
            </div>
            <div class="body-item p-10">
                <div class="MD-body-item-title">price</div>
                <div class="MD-body-item-content">
                    <input class="input-custom f-1" type="number" name="" id="price_MD">
                </div>
            </div>
        </div>
        <!-- Modal body -->
        
        <!-- Modal footer -->
        <div class="modal-footer t-center">
            <button id="btn_update" type="button" class="btn-custom f-1 m-10 bg-green cl-white">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn-custom f-1 m-10" id="btn-close-modal">
                X
            </button>
        </div>
        <div class="err" id="err"></div>
      </div>
    </div>
  </div>
  
<script src="/js/WHDetail.js"></script>