<link rel="stylesheet" href="/css/WHDetail.css">
<div class="t-start" style="padding: 10px;" id="head"></div>

<div class="block-detail f-1-2">
    <div class="block-detail-header t-center">
        <img id="img-logo" src="/images/logo-food.png" alt="" width="100px" height="100px">
    </div>
    <div class="block-detail-body">
        <div class="body-item p-10">
            <div class="body-item-title">ID</div>
            <div class="body-item-content" id="idProWH"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Name</div>
            <div class="body-item-content" id="name"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Type</div>
            <div class="body-item-content" id="type"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Quantity</div>
            <div class="body-item-content" id="qty"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Price</div>
            <div class="body-item-content" id="price"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Price input</div>
            <div class="body-item-content" id="priceInput"></div>
        </div>
        <div class="body-item p-10">
            <div class="body-item-title">Date</div>
            <div class="body-item-content" id="date"></div>
        </div>
    </div>
    <div class="t-center">
        <% if(locals.position === 2){ %>
            <button type="button" class="btn-custom f-1-2 m-10 bg-green cl-white" id="btn-show-modal">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        <% } %>
        <button class="btn-custom f-1-2 m-10 bg-red cl-white" id="btn_delete">
            <i class="fa-solid fa-trash-can"></i>
        </button>
        <a href="/warehouse/listWH">
            <button class="btn-custom f-1-2 m-10">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </a>
    </div>
</div>

<div class="modal" id="myModal" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="t-center">
                <img id="img-logo" src="/images/logo-food.png" alt="" width="100px" height="100px">
            </div>
        </div>
        <div class="modal-body f-1-2">
            <div class="modal-body-item p-10">
                <div class="MD-body-item-title">ID</div>
                <div class="MD-body-item-content" id="idProWH_MD"></div>
            </div>
            <div class="body-item p-10">
                <div class="MD-body-item-title">price</div>
                <div class="MD-body-item-content">
                    <input class="input-custom f-1" type="number" name="" id="price_MD">
                </div>
            </div>
        </div>
        <!-- Modal body -->
        
        <!-- Modal footer -->
        <div class="modal-footer t-center">
            <button id="btn_update" type="button" class="btn-custom f-1 m-10 bg-green cl-white">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn-custom f-1 m-10" id="btn-close-modal">
                X
            </button>
        </div>
        <div class="err" id="err"></div>
      </div>
    </div>
  </div>



<script>
    let url = new URL(window.location)
    let idProWH = url.searchParams.get('idProWH')    

    let btn_show_modal = document.getElementById('btn-show-modal')
    let btn_close_modal = document.getElementById('btn-close-modal')

    btn_show_modal.addEventListener('click', () => {
        document.getElementById('myModal').style.display = 'block'
    })

    btn_close_modal.addEventListener('click', () => {
        document.getElementById('myModal').style.display = 'none'
    })

    fetch('/getProWH/'+idProWH+"?token=<%= token %>", {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })
    .then(req => req.json())
    .then(json => {
        console.log(json)
        if(json.code === 0){
            data = json.data[0]
            console.log(data)
            var idProWH = document.getElementById('idProWH')
            var name = document.getElementById('name')
            var type = document.getElementById('type')
            var qty = document.getElementById('qty')
            var price = document.getElementById('price')
            var priceIn = document.getElementById('priceInput')
            var date = document.getElementById('date')

            idProWH.innerHTML = data.idProWH
            name.innerHTML = data.name
            qty.innerHTML = data.qty
            price.innerHTML = parseInt(data.price).toLocaleString('vi', {style : 'currency', currency : 'VND'})
            priceIn.innerHTML = parseInt(data.priceIn).toLocaleString('vi', {style : 'currency', currency : 'VND'})
            date.innerHTML = data.dateIn

            if(data.type === 0)
                type.innerHTML = "Drink"
            else if(data.type === 1)
                type.innerHTML = "Food"
            else
                type.innerHTML = "Item"

            document.getElementById('head').innerHTML = data.idProWH

            var idProWH_MD = document.getElementById('idProWH_MD')
            var price_MD = document.getElementById('price_MD')

            idProWH_MD.innerHTML = data.idProWH
            price_MD.value = data.price
        }  
    })
    .catch(e => console.log(e))

    var btn_update = document.getElementById('btn_update')

    btn_update.addEventListener("click", () => {
        document.getElementById('err').innerHTML = ""
        var idProWH_MD = document.getElementById('idProWH_MD').innerHTML
        var price_MD = document.getElementById('price_MD').value

        if(idProWH_MD && price_MD)
        {
            fetch('/updatePriceProWH', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    token : "<%= token %>",
                    idProWH : idProWH_MD,
                    price : price_MD
                })
            })
            .then(res => res.json())
            .then(json => {
                if(json.code === 0)
                    return window.location.href = ""
                else
                    document.getElementById('err').innerHTML = "update fail"
            })
        }else
            document.getElementById('err').innerHTML = "please check information again"
    })

    var btn_delete = document.getElementById('btn_delete')

    btn_delete.addEventListener("click",() => {
        var url = new URL(window.location)
        var idProWH = url.searchParams.get('idProWH')  

        fetch('/deleteWH', {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify({
                token : "<%= token %>",
                idProWH : idProWH
            })
        })
        .then(req => req.json())
        .then(json => {
            if(json.code === 0){
                return window.location.href = "/listWH"
            }  
        })
        .catch(e => console.log(e))
    })
</script>